@{
    ViewBag.Title = "Página inicial";
}



<div class="jumbotron">
    <h1 style="text-align: center; color: black">Portal Señalización Digital</h1>
    <hr class="hr-main" />
    <br/>
    <div class="square-main">
        <div class="row">
            <div class="col-xs-6 square-s1 no-margin-padding">
                <p class="icon-main" style="font-size: 7em"><span class="glyphicon glyphicon-tasks"></span></p>
            </div>
            <div class="col-xs-6 no-margin-padding">
                <div class="col-xs-12 square-s2 no-margin-padding">
                    <p class="icon-main" style="font-size: 4em"><span class="glyphicon glyphicon-th"></span></p>
                </div>
                <div class="col-xs-12 no-margin-padding">
                    <div class="col-xs-6 square-s3 no-margin-padding">
                        <p class="icon-main" style="font-size:3.5em"><span class="glyphicon glyphicon-check"></span></p>
                    </div>
                    <div class="col-xs-6 no-margin-padding">
                        <div class="col-xs-12 square-s4 no-margin-padding">
                            <p class="icon-main" style="font-size:2.5em"><span class="glyphicon glyphicon-calendar"></span></p>
                        </div>
                        <div class="col-xs-12 no-margin-padding">
                            <div class="col-xs-6 square-s5 no-margin-padding">
                                <p class="icon-main" style="font-size:2em"><span class="glyphicon glyphicon-fire"></span></p>
                            </div>
                            <div class="col-xs-6 no-margin-padding">
                                <div class="col-xs-12 square-s6 no-margin-padding">
                                    <p class="icon-main" style="font-size:1em"><span class="glyphicon glyphicon-comment"></span></p>
                                </div>
                                <div class="col-xs-12 square-s7 no-margin-padding">
                                    <p class="icon-main" style="font-size:1em"><span class="glyphicon glyphicon-thumbs-up"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
