@using Microsoft.AspNet.Identity
@using SignageDigitalPortal.Resources
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a>@String.Format("{0} {1}", ResShared.TITLE_WELCOME, User.Identity.GetUserName())</a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Salir</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="javascript:void(0)" ng-click="linkLogin()"><span class="glyphicon glyphicon glyphicon-log-in"></span> &nbsp; @ResShared.TITLE_LOGIN</a>
        </li>
        
    </ul>
}

