@using SignageRepository.Models.Constants
<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="menuController">
    <div class="container">
        <div class="navbar-collapse collapse">
            @if (Request.IsAuthenticated)
            {
                if (User.IsInRole(RolesConstants.ROLE_MANAGER))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Medias", "Index", "Media")</li>
                        <li>@Html.ActionLink("Canales", "Index", "Channel")</li>
                        <li>@Html.ActionLink("Pantallas", "Index", "Screen")</li>
                    </ul>
                }
            }
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>